{% extends 'base.html' %}
{% block content %}



<script type="text/javascript">
  $(document).ready(function () {
    console.log("about ready!");
  });
</script>

<div>

<div class="container" style="min-height: 500px;">
<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class=" font-weight-bold text-center">About us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
           

           
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
</div>

</div>



{% endblock content %}